body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header, footer {
    height: 56px;
}
.wrapper {
    flex: 1 0 auto;
}

.footer {
    background-color: #0d6efd;
    color: #fff;
    padding: 1rem;
    flex-shrink: 0;
}

.footer span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
}

.footer li {
    padding: 0 0.5rem;
}

.footer a {
    color: #fff;
}
